<div id="player">
   <div id="title"><h2>{{playerManager.theme ? playerManager.theme?.title : 'Elige un Tema'}}</h2></div>
   <div class="time">
      <span class="current-time">{{playerManager.currentTime}}</span>
      <span class="duration">{{playerManager.duration}}</span>
      <input id="progress" type="range" min="0" max="100"
         value="0" (input)="playerManager.seek($event)" #progress>
   </div>

   <div class="controls">
      <button id="loop" (click)="toggleLoop()">
         <svg *ngIf="playerManager.loop" fill="#fff" width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.39 75.39">
            <path d="M75.39,44.36a23,23,0,0,0-23-23V29.7a14.66,14.66,0,0,1,0,29.32H23.23a14.66,14.66,0,0,1,0-29.32h7.4l-7.41,7.41L29.15,43,42.48,29.7a5.93,5.93,0,0,0,0-8.38L29.15,8l-5.93,5.92,7.41,7.4H23.22a23,23,0,1,0,0,46.07H52.35a23,23,0,0,0,23-23Z"/>
         </svg>
         <svg *ngIf="!playerManager.loop" fill="#fff" width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.39 75.39">
            <path d="M34.5,52.42h0L27.16,45l5.95-5.89L46.36,52.48a5.93,5.93,0,0,1,0,8.38L32.89,74.11l-5.88-6,7.44-7.34v0L-.14,60.57l.05-8.37,34.59.21Z"/>
            <path d="M60.33,36.58l-5.89-6,7.44-7.35h0L.09,22.87.14,14.5l61.79.38h0L54.59,7.43l6-5.89L73.79,15a5.92,5.92,0,0,1-.05,8.38Z"/>
        </svg>
      </button>

      <div>
         <button id="play" (click)="playPauseAudio()">
            <img width="30px" [src]="playerManager.audio.paused ? 
               'assets/icons/play-icon.svg' : 
               'assets/icons/pause-icon.svg'">
         </button>
      </div>

      <button id="volume" (click)="toggleMuteAudio()">
         <svg fill="#fff" width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.46 75.39">
            <rect x="11.07" y="23.03" width="14.66" height="29.32"/>
            <polygon points="50.86 4.19 29.92 23.03 29.92 52.35 50.86 71.2 50.86 4.19"/>
         <!-- <path id="min-vol" style="visibility: visible;" d="M64.67,37.69a22.23,22.23,0,0,1-6.52,15.76l-4.21-4.2h0a16.32,16.32,0,0,0,0-23.1l4.2-4.2h0A22.2,22.2,0,0,1,64.67,37.69Z"/>
            <path id="mid-vol" style="visibility: visible;" d="M76.57,37.69a34.08,34.08,0,0,1-10,24.17l-4.21-4.2h0a28.22,28.22,0,0,0,0-39.92l4.2-4.2h0A34.08,34.08,0,0,1,76.57,37.69Z"/>
            <path id="max-vol" style="visibility: visible;" d="M88.46,37.69A46,46,0,0,1,75,70.27l-4.21-4.21a40.12,40.12,0,0,0,0-56.74L75,5.12h0A46,46,0,0,1,88.46,37.69Z"/> -->
            <polygon id="mute" fill="#f00" [ngStyle]="{'visibility': playerManager.audio.muted ? 'visible' : 'hidden'}" points="65.93 10.38 60.27 4.73 32.97 32.04 5.66 4.73 0 10.38 27.31 37.69 0 65 5.66 70.66 32.97 43.35 60.27 70.66 65.93 65 38.62 37.69 65.93 10.38"/>
         </svg>

         <!-- <input id="volume-input" type="range" min="0" max=".5" step=".025" title="50%"> -->
      </button>
   </div>
 </div>
