* { --sprH: 150px; }

@keyframes fadeIn {
   from { opacity: 0; } to { opacity: 1; }
}
@keyframes fadeOut {
   from { opacity: 1; } to { opacity: 0; }
}

.rpg-container {
   opacity: 0;
   position: absolute;
   inset: 0;
   background-color: #252525;
   padding: 20px;
   display: grid;
   place-items: center;
   animation: fadeIn 1s .5s forwards;
}
.rpg-container.fadeout { animation: fadeOut 1s forwards; }

.screen {
   font-family: sans-serif;
   background-color: #343f2f;
   background-image: url('../../../assets/sprites/darkness-bg.png');
   background-size: cover;
   width: min(1000px, 100%);
   aspect-ratio: 4/3;
   padding: 20px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   box-shadow: inset 0 0 10px 1px #000;
}
.screen > * { padding: 10px; }

.info {
   text-transform: uppercase;
   text-align: center;
   background-image: linear-gradient(to right, transparent, #c82, transparent);
}

#endgame-modal {
   position: absolute;
   inset: 0;
   display: flex;
   backdrop-filter: blur(5px);
}
.modal-msg {
   display: grid;
   place-items: center;
   gap: 25px;
   margin: auto;
   background-image: linear-gradient(to right, #446, #234);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px #15151d;
   border: solid 4px #3f385f;
}
.modal-msg button {
   padding: 10px;
   border-radius: 10px;
   background-color: #3f385f;
   border: none;
   color: #fff;
   width: 100%;
   font-weight: 800;
   letter-spacing: 2pt;
   transition-property: box-shadow, background, color;
   transition-duration: .5s;
}
.modal-msg button:hover {
   box-shadow: 0 0 5px #fc8, 0 0 10px #fff;
   background-color: #fff;
   color: #000;
}

@media screen and (orientation:portrait) {
   * { --sprH: 100px; }
   footer { flex-direction: column; }
   footer .player-actions {
      flex-direction: row;
      width: 100%;
   }
   .player-actions .action { flex: 1 1; }

   footer .options-container .options {
      font-size: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      width: 100%;
      max-width: unset;
   }
   footer .options:has(.opt.skill) { grid-template-columns: 1fr 1fr; }
   .options .opt {
      gap: 5px;
      min-width: fit-content;
      justify-content: center;
   } .opt .spell-cost { font-size: .8rem; }
}