main, footer { width: min(1000px, 100%); }
footer {
   border-radius: 10px;
   background-image: linear-gradient(to right, #a40, #620);
   gap: 10px;
   position: relative;
}

.cancel-select {
   position: absolute;
   bottom: 100%; left: 50%;
   transform: translateX(-50%);
   background: none;
   background-image: linear-gradient(transparent, #c00);
   border: none;
   color: #fff;
   padding: 10px 20px; padding-bottom: 5px;
   border-radius: 10px 10px 0 0;
   transition: background .2s;
}
.cancel-select:hover { background-color: #c00; }

.player-actions {
   flex-direction: column;
   justify-content: space-between;
   width: max(100px, 25%);
}
.player-actions .action {
   position: relative;
   padding: 5px 10px;
   border-radius: 5px;
   background-color: #830;
   color: #fff;
   border: solid 1px #fff2;
   transition: background .2s;
}
.player-actions .action:not(:disabled):hover {
   background-color: #620;
}
.action .show-options {
   position: absolute;
   top: 50%;
   right: 5px;
   transform: translateY(-50%);
   opacity: 0;
   transition: opacity .2s;
}
.action:not(:disabled):hover .show-options { opacity: 1; }

footer .options-container { flex-grow: 1; }
.options-container .options {
   display: grid; gap: 10px;
   height: 100%;
   max-width: fit-content;
   padding: 10px;
   border-radius: 5px;
   border: solid 1px #fff2;
   background-color: #830;
}
.options > * {
   justify-content: space-between;
   cursor: pointer;
   gap: 20px;
}
.options > *:hover >:first-child { text-decoration: underline; }

.stats {
   flex-direction: column;
   justify-content: space-evenly;
   gap: 10px;
}
.stats .char {
   align-items: center;
   gap: 20px;
   padding: 5px 10px;
   border-radius: 20px;
   background-image: linear-gradient(to right, #a40, transparent);
}
.char .mp { margin-inline: auto; }
.char > div { width: max-content; }
.char-name { font-weight: 400; }
.char .hp.full { color: #afa; }
.char .mp.full { color: #bbf; }
.char .hp.low { color: #fd0; }
.char .mp.low { color: #f8f; }
.char.dead * { color: #888!important; }
.char strong, .char .hp, .char .mp { color: #fff; }

.cursor { visibility: hidden; }
.player-char:has( .selectable ) { cursor: none; }
.player-char:hover .selectable.cursor { visibility: visible; }
.current { color: #8ff; }
.action:disabled { opacity: .5; cursor: default; }
.disabled { pointer-events: none; color: #888; }

.player-char.physic { filter: hue-rotate(-50deg); }
.player-char.magic { filter: hue-rotate(200deg); }
.player-char.full { filter: invert(); }